.cart-outer-wrapper{
    position: fixed;
    top:0;
    left:0;
    width:70%;
    overflow: hidden;
    min-height:100vh;
    z-index:999;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    animation:showCartWrapper 0.7s forwards;
}
@keyframes showCartWrapper {
    0%{
        left:100%;
    }
    100%{
        left:0;
    }
}

.wrapper{
    background-color:#FFFFFF;
    position:fixed;
    left:70%;
    top:0px;
    width:500px;
    height:100vh;
    z-index:200;
    color:black;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
    animation:showCart 0.7s forwards;
}
@keyframes showCart {
    0%{
        left:100%;
    }
    100%{
        left:70%;
    }
}
.closed{
    animation:HideCart 0.7s forwards;
}
@keyframes HideCart {
   100%{
    left:110%;
   }
}
.no-items{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.no-items h1{
    font-size:18px;
}
.no-items button{
    padding:10px 30px;
    border-radius:25px;
    text-align:center;
    border:none;
    background:#000;
    color:#FFFFFF;
    margin-top:10px;
    cursor: pointer;
}
.close-cart-box{
    position:absolute;
    left:10px;
    top:10px;
    cursor:pointer;
}
.empty-bag-box img{
    width:60px;
    height:60px;
}


/*  Cart Items  */

.cart-product-container{
    width:100%;
    margin-top:50px;
    height: 540px;
    overflow: auto;
}

.cart-heading{
    font-weight:600;
    position:absolute;
    left:60px;
    top:22px;
}
.delete-btn{
    cursor: pointer;
}
.checkout-btn{
    padding:10px 45px;
    background:#000;
    color:#FFFFFFFF;
    border:none;
    margin-top:5px;
}

.checkout-btn:hover{
    background: transparent;
    border:1px solid black;
    color:black;
    cursor: pointer;
    transition: background-color 300ms;
}
