.allFavorites-container{
    padding-top:20px;
    padding-left:10px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    min-height:100vh;
}
.favorites-heading{
    margin-left:20px;
    margin-top:10px;

}
.favorites-content-box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:90%;
    text-align: center;
}
.add-favorites-btn{
    padding:10px 45px;
    background:#000;
    color:#FFFFFFFF;
    border:none;

}

.add-favorites-btn:hover{
    background: transparent;
    border:1px solid black;
    color:black;
    cursor: pointer;
    transition: background-color 300ms;
}

@media only screen and (max-width:480px){
    .favorites-heading{
        font-size:25px;
    }
    .favorites-content-box{
        margin-top:30px;
    }
    .favorites-content-box h1{
        font-size:20px;
   }
   .img-box img{ 
        width:70px;
        height:70px;
   }
   .add-favorites-btn{
    margin-top:6px;
   }

}

@media screen and (max-width:767px){
    .allFavorites-container{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        padding-left:5px;
    }
}


@media screen and (max-width:1024px) and (min-width:767px){
    .allFavorites-container{
        display:grid;
        grid-template-columns: repeat(3,1fr);
    }
    .favorites-content-box h1{
         font-size:25px;
    }
    .add-favorites-btn{
        font-size:20px;
    }
}
