*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins','sans-serif';
    list-style: none;
}

main{
    background-color: #eeeeee;
    min-height: 100vh;
}
form{
    background-color: #FFFFFF;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:30px;
    width: 300px;
    box-shadow:rgba(0,0,0,0.16) 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
}
.logoContainer{
    background-color: #000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.logoContainer img{
    background-size: cover;
    width: 40px;
    height: 40px;
}
form h3{
    text-align:center;
    font-size:35px;
    text-transform: uppercase;
    font-weight:bold;
}
.login-email-input{
    border:1px solid grey;
    outline:none;
    appearance:none;
    padding:10px 30px;
    border-radius: 5px;
    margin-top:10px;
    padding-left:10px;
}
.login-password-input{
    border:1px solid grey;
    outline:none;
    appearance:none;
    padding:10px 30px;
    border-radius:5px;
    margin-top:10px;
    padding-left:10px;
}
.submit-btn{
    padding:8px;
    background-color: #2666CF;
    color:white;
    border-radius:5px;
    font-size:18px;
    border:none;
    cursor:pointer;
    margin-top:5px;
}
form h4{
    margin:auto;
    margin-top:10px;
}
.register-link{
    text-decoration: none;
    color: #2666CF;
}
