.order-product-container{
    margin-left:30px;
    margin-top:10px;
}
.order-product-box{
    width:250px;
    height:250px;
    display:grid;
    grid-template-rows: 1fr 1fr;
}

.order-first-section img{
     width:250px;
     height:200px;
}
.order-info-section{
    display:flex;
    justify-content: space-between;
}
.order-info-section p{
    font-weight:600;
}
.order-status-section{
     margin-top:5px;
}
.order-status-section button{
    background: transparent;
    color:#FFFFFF;
    padding:5px;
    border:none;
    background-color:#000;
    cursor:pointer;
}
.order-status-section button:hover{
    color:#000;
    background-color:white;
    border:1px solid black;
    transition:background-color 300ms;
}

@media screen and (max-width:767px) {
    .order-product-container{
        margin-left:8px;
    }
    .order-product-box{
        width:170px;
        height:200px;
        display:grid;
        grid-template-rows: 1fr 1fr;
    }
    
    .order-first-section img{
        width:150px;
        height:150px;
    }
}

@media screen and (max-width:1024px) and (min-width:767px){
    .order-product-container{
        margin-left:8px;
    }
    .order-product-box{
        width:170px;
    }
    .order-first-section img{
        width:190px;
    }
    
}