.badConnectionBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.badConnectionBox button{
    padding: 10px 17px;
    border-radius: 8px;
    border: none;
    margin-top:10px;
    margin-left: 40%;
    background: transparent;
    border: 1px solid black;
    cursor: pointer;
    font-size: 15px;
}
.badConnectionBox button:hover{
    font-weight: bolder;
}

.refreshIcon{
    margin-right: 3px;
    transform: translateY(3px);
}

.product-box{
    width:300px;
    height:300px;
    margin-left:10px;
    margin-top:20px;
    margin-bottom:45px;
}
.first-image-box{
    width:100%;
    height: 100%;
    background-color: #eeeeee;
    border-radius:8px;
    cursor: pointer;
}
.first-image-box img{
    width:100%;
    height:100%;
    mix-blend-mode: darken;
}
.first-image-box img:hover{
    transform: scale(1.1);
    transition: transform 500ms;
}
.product-details p{
    font-weight:600;
}

@media screen and (max-width:767px){
    .product-box{
        width:150px;
        height:150px;
    }
}

@media screen and (max-width:1024px) and (min-width:767px){
    .product-box{
        width:200px;
        height:200px;
        margin-left:0px;
    }
}

